* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
.nav-item{
    margin:4px
}

@font-face 
{
    font-family: 'GenYoGothic'; 
    src: url('../font/ttc/GenYoGothic-M.ttc') format('truetype');
}

.navbar {
    height: 65px; 
  }

.navbar-brand,.nav-link {
    font-family: 'GenYoGothic', sans-serif; 
    font-size: 1.3rem; 
    font-weight: normal; 
}

.mainpage{
    display:none;
    grid-template-columns:50% 50%;
    height: 100vh;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23ffffff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


.icon{
    height: 3rem; 
    width: auto;
}

.navbar-items {
    display: flex; 
    align-items: center;
    gap: 5vw; 
  }

.icon-container {
    display: flex;
    align-items: center;
  }
  
.icon2 {
    height: 2rem; 
    width: auto;
    margin-right: 2vw;
}

.nav-item.dropdown {
    list-style-type: none;
}

#profile_box {
  display: none;
}

.btn-outline-primary {
  border-color: #003466;
}
.btn-outline-primary:hover {
  background-color: #003466;
  border-color: #003466;
}

.modal-body {
  padding-left: 15%;
  padding-right: 15%;
}

.login_icon_container {
  display: flex;
  justify-content: center;
}

.login_icon {
  object-fit: contain;
  height: 100px;
}

.login_title {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 2rem;
  font-family: 'GenYoGothic';
  color: #003466;
  letter-spacing: 2px;
}

#checkeye {
  position: absolute;
  top: 258px;
  right: 90px;
}

.eye_icon {
  object-fit: contain;
  width: 1rem;
}

.eye_open {
  display: none;
}

.eye_close {
  right: 80px;
}

#wrong_account {
  text-align: right;
  margin-top: 0px;
  color: rgb(201, 4, 4);
}

.form-control {
  width: 100%;
  margin-bottom: 20px;
}
.form-control::placeholder {
  opacity: 50%;
  font-family: 'GenYoGothic-L';
}

#password_block {
  padding: 0;
  display: block;
}

#forget_password {
  text-align: left;
  color: #003466;
}

.reg_button {
  width: 100%;
  padding: 0.5rem 0;
  border: none;
  border-radius: 15px;
  text-align: center;
  font-size: 1.3rem;
  font-family: 'GenYoGothic';
  color: white;
  margin-bottom: 10px;
}

.btn-yellow {
  background-color: #FFC533;
  :hover {
    color:#FFC533;
  }
}

.btn-blue {
  background-color: #003466;
  margin-top: 10px;
  margin-bottom: 10px;
  :hover {
    color: #003466;
  }
}

.small_word {
  font-size: 0.9rem;
  font-family: 'GenYoGothic-L';
  font-weight: 300;
  color: #003466;
  text-align: left;
  padding-left: 0;
  margin-bottom: 10px;
}

#supplyment {
  text-align: center;
  margin-bottom: 20px;
}

.row {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.back_btn img{
  height: 20px;
  z-index: 100;
  :hover {
    border: none;
  }
}

.reg_icon {
  object-fit: contain;
  height: 80px;
}

.reg_title {
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 2.8rem;
  font-family: 'GenYoGothic';
  color: #003466;
  letter-spacing: 2px;
}

.reg_content {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 0.85rem;
  font-family: 'GenYoGothic';
  color: #003466;
  letter-spacing: 2px;
  font-weight: lighter;
}

.width_half {
  width: 50%;
}

.checkbox {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'GenYoGothic-L';
}

input[type="checkbox"] {
  border-radius: 50%;
}

.inactive-step {
  display: none;
}

.active-step {
  display: block;
}

.modal-header,
.modal-footer {
    border: none; 
}
.modal-header {
    position: relative; 
}
.close {
    background-size: cover; 
    background-color: transparent; 
    width: 20px; 
    height: 20px; 
    border: none; 
    outline: none; 
    overflow: hidden; 
    position: absolute;
    right: 18px;
    top: 18px;    
    padding: 0;   
    display: flex; 
    justify-content: center;
    align-items: center;
}
.signback {
    background-size: cover; 
    background-color: transparent; 
    width: 20px; 
    height: 20px; 
    outline: transparent;
    border: transparent;
    overflow: hidden; 
    position: absolute;
    left: 18px;
    top: 18px;    
    padding: 0;   
    display: flex; 
    justify-content: center;
    align-items: center;
}
#progressicon1{
  position: absolute;
  top: 25px;  
  left: 35%;  
  transform: translateX(-50%); 

}
#progressicon2{
  position: absolute;
  top: 25px;  
  left: 50%;  
  transform: translateX(-50%); 

}
#progressicon3{
  position: absolute;
  top: 25px;  
  left: 65%; 
  transform: translateX(-50%); 

}
#progressicon4{
  position: absolute;
  top: 25px;  
  left: 35%;  
  transform: translateX(-50%); 

}
#progressicon5{
  position: absolute;
  top: 25px;  
  left: 50%;  
  transform: translateX(-50%); 

}
#progressicon6{
  position: absolute;
  top: 25px;  
  left: 65%;  
  transform: translateX(-50%); 

}
#progressicon7{
  position: absolute;
  top: 25px;  
  left: 43%;  
  transform: translateX(-50%); 

}
#progressicon8{
  position: absolute;
  top: 25px;  
  left: 57%;  
  transform: translateX(-50%); 

}
#progressicon9{
  position: absolute;
  top: 25px;  
  left: 43%;  
  transform: translateX(-50%); 

}
#progressicon10{
  position: absolute;
  top: 25px;  
  left: 57%;  
  transform: translateX(-50%); 

}

#step2 .mb-3 {
  font-family: 'GenYoGothic', sans-serif;
  position: relative;
  height: 500px;
  width: 400px;
  left: -20px;
}

#step2 #title {

  position: relative;
  font-weight: bold; 
  top: 15px;
  left: 72%;
  font-size: 23px;
  transform: translateX(-50%);
  color: #003466;
  letter-spacing: 0.15em;
}

#step2 #subtitle {
  position: relative;
  top: 20px;
  left: 45%;
  transform: translateX(-50%);
  font-size: 13px;
  width: 50%;
  color: #8eaabf;
  line-height: 1.5;
  text-align: center; 
}


#step2 #region {
  position: relative;
  top: 19px;
  left: 40px;
  width: 280px;
  color: #adadad;
}


#step2 #district {
  position: relative;
  top: 29px;
  left: 40px;
  width: 280px;
  color: #adadad;
}

#step2 #service-notice {
  position: relative;
  font-weight: bold; 
  font-size: 25px;
  top:40px;
  left: 100px;
  color: #FFC553;
}
#step2 #ss {
  position: relative;
  top: 40px;
  left: 80px;
  color: #8eaabf;
}

#button-group {
  position: relative;
  top: 40px;
  left: 80px;
  padding: 10px; 
  display: block; 
}

.location-yes, .location-no {
  display: block; 
}

.location-yes {
  margin-left: 20px; 
  color: #003466; 
}

.location-no {
  margin-left: 50px; 
  color: #003466; 
}

.form-check-input {
  margin-top: 0.3em; 
  margin-right: 30px; 
  accent-color: #003466; 
}

.form-check-label {
  vertical-align: middle; 
  color: #003466; 
font-size: 12px;
}

#step15 .form-heading {
  color: #003466; 
  font-weight: bold;
  font-size: 22px; 
  margin-bottom: 5px; 
  line-height: 1.5;
  text-align: center; 
  padding-top: 30px;
  letter-spacing: 0.15em;
}

#step15 .form-subheading {
  color: #003466; 
  font-size: 14px; 
  margin-bottom: 15px; 
  text-align: center; 
  padding-top: 10px;
  letter-spacing: 0.15em;
}


#step15 .form-control {
  margin-bottom: 10px; 
  width: 70%;
  display: block;
  margin-left: auto; 
  margin-right: auto; 
}

#step15 select.form-control {
  cursor: pointer; 
}

#step15 .form-control option[disabled] {
  color: #ADADAD; 
}


#step15 .form-control option:not(:disabled) {
  color: #000; 
}
#step15 .btn-primary {
  background-color: #003466; 
  color: white; 
  width: 240px; 
  height: 40px; 
  border: none;
  display: block; 
  margin: 20px auto; 

}
#step2 #submit-button {
  position: relative;
  top: 43px;
  left: 38px;
  width: 300px;
  font-weight: bold;
}

#step3 {
  font-family: 'GenYoGothic', sans-serif;
  position: relative; 
  width: 100%;
}

#step3 p:first-of-type {
  position: relative;
  font-weight: bold; 
  top: 15px;
  left: 84%;
  font-size: 30px;
  transform: translateX(-50%);
  color: #003466;
  letter-spacing: 0.15em;
}

#step3 p:last-of-type {
  position: relative;
  color: #FFC553; 
  position: relative;
  font-weight: bold; 
  font-size: 20px;
  top:30px;  
  line-height: 1.5;
  text-align: center; 
}

#bottom_box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#bottom_box img {
  width: 300px; 
  height: 180px; 
  margin-top: 20px;
}

#bottom_box button {
  width: 400px; 
}

.form-container {
  margin-top: 60px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 10px;
}

.sub_title {
  color: #003466;
  font-family: 'GenYoGothic';
  margin-right: 10px;
}

.sub_content {
  color: #999999;
  font-family: 'GenYoGothic';
  margin-right: 5px;
}