* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
.nav-item{
    margin:4px
}

@font-face 
{
    font-family: 'GenYoGothic'; 
    src: url('../font/ttc/GenYoGothic-M.ttc') format('truetype');
}


.navbar-brand,.nav-link {
    font-family: 'GenYoGothic', sans-serif; 
    font-size: 1.3rem; 
    font-weight: normal; 
}

.mainpage{
    display:grid;
    grid-template-columns:50% 50%;
    height: auto;
}

.policy{
    font-family: 'GenYoGothic-L', sans-serif; 
    font-size: 10px;     
    font-weight: lighter; 
    display: flex; 
    align-items: center;
}


.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23ffffff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); 
}


.icon{
    height: 3rem; 
    width: auto;
}

.navbar-items {
    display: flex; 
    align-items: center;
    gap: 5vw; 
  }

.icon-container {
    display: flex;
    align-items: center;
  }
  
  .icon2, .icon3 {
    height: 2rem; 
    width: auto;
    margin-right: 2vw;
}

.nav-item.dropdown {
    list-style-type: none;
}

#profile_box {
    display: none;
  }
  
  .btn-outline-primary {
    border-color: #003466;
  }
  .btn-outline-primary:hover {
    background-color: #003466;
    border-color: #003466;
  }
  
  .modal-body {
    padding-left: 15%;
    padding-right: 15%;
  }
  
  .login_icon_container {
    display: flex;
    justify-content: center;
  }
  
  .login_icon {
    object-fit: contain;
    height: 100px;
  }
  
  .login_title {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 2rem;
    font-family: 'GenYoGothic';
    color: #003466;
    letter-spacing: 2px;
  }
  
  #checkeye {
    position: absolute;
    top: 258px;
    right: 90px;
  }
  
  .eye_icon {
    object-fit: contain;
    width: 1rem;
  }
  
  .eye_open {
    display: none;
  }
  
  .eye_close {
    right: 80px;
  }
  
  #wrong_account {
    text-align: right;
    margin-top: 0px;
    color: rgb(201, 4, 4);
  }
  
  .form-control {
    width: 100%;
    margin-bottom: 20px;
  }
  .form-control::placeholder {
    opacity: 50%;
    font-family: 'GenYoGothic-L';
  }
  
  #password_block {
    padding: 0;
    display: block;
  }
  
  #forget_password {
    text-align: left;
    color: #003466;
  }
  
  .reg_button {
    width: 100%;
    padding: 0.5rem 0;
    border: none;
    border-radius: 15px;
    text-align: center;
    font-size: 1.3rem;
    font-family: 'GenYoGothic';
    color: white;
    margin-bottom: 10px;
  }
  
  .btn-yellow {
    background-color: #FFC533;
    :hover {
      color:#FFC533;
    }
  }
  
  .btn-blue {
    background-color: #003466;
    margin-top: 10px;
    margin-bottom: 10px;
    :hover {
      color: #003466;
    }
  }
  
  .small_word {
    font-size: 0.9rem;
    font-family: 'GenYoGothic-L';
    font-weight: 300;
    color: #003466;
    text-align: left;
    padding-left: 0;
    margin-bottom: 10px;
  }
  
  #supplyment {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .row {
    display: flex;
  }
  
  .align-items-center {
    align-items: center;
  }
  
  .justify-content-center {
    justify-content: center;
  }
  
  .back_btn img{
    height: 20px;
    z-index: 100;
    :hover {
      border: none;
    }
  }
  
  .reg_icon {
    object-fit: contain;
    height: 80px;
  }
  
  .reg_title {
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 2.8rem;
    font-family: 'GenYoGothic';
    color: #003466;
    letter-spacing: 2px;
  }
  
  .reg_content {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 0.85rem;
    font-family: 'GenYoGothic';
    color: #003466;
    letter-spacing: 2px;
    font-weight: lighter;
  }
  
  .width_half {
    width: 50%;
  }
  
  .checkbox {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'GenYoGothic-L';
  }
  
  input[type="checkbox"] {
    border-radius: 50%;
  }
  
.inactive-step {
    display: none;
  }
  
  .active-step {
    display: block;
  }

.modal-header,
.modal-footer {
    border: none; 
}
.modal-header {
    position: relative; 
}
.close {
    background-size: cover; 
    background-color: transparent; 
    width: 20px; 
    height: 20px; 
    border: none; 
    outline: none; 
    overflow: hidden; 
    position: absolute;
    right: 18px;
    top: 18px;    
    padding: 0;   
    display: flex; 
    justify-content: center;
    align-items: center;
}
.signback {
    background-size: cover; 
    background-color: transparent; 
    width: 20px; 
    height: 20px; 
    border: none; 
    outline: none; 
    overflow: hidden; 
    position: absolute;
    left: 18px;
    top: 18px;    
    padding: 0;   
    display: flex; 
    justify-content: center;
    align-items: center;
}
#progressicon1{
    position: absolute;
    top: 25px;  
    left: 35%;  
    transform: translateX(-50%); 

}
#progressicon2{
    position: absolute;
    top: 25px;  
    left: 50%;  
    transform: translateX(-50%); 

}
#progressicon3{
    position: absolute;
    top: 25px;  
    left: 65%; 
    transform: translateX(-50%); 
  
}
#progressicon4{
    position: absolute;
    top: 25px;  
    left: 35%;  
    transform: translateX(-50%); 

}
#progressicon5{
    position: absolute;
    top: 25px;  
    left: 50%;  
    transform: translateX(-50%); 

}
#progressicon6{
    position: absolute;
    top: 25px;  
    left: 65%;  
    transform: translateX(-50%); 

}
#progressicon7{
    position: absolute;
    top: 25px;  
    left: 43%;  
    transform: translateX(-50%); 

}
#progressicon8{
    position: absolute;
    top: 25px;  
    left: 57%;  
    transform: translateX(-50%); 

}
#progressicon9{
    position: absolute;
    top: 25px;  
    left: 43%;  
    transform: translateX(-50%); 

}
#progressicon10{
    position: absolute;
    top: 25px;  
    left: 57%;  
    transform: translateX(-50%); 

}

#step2 .mb-3 {
    font-family: 'GenYoGothic', sans-serif;
    position: relative;
    height: 553px;
    width: 400px;
    left: -20px;
}

#step2 #title {

    position: relative;
    font-weight: bold; 
    top: 15px;
    left: 72%;
    font-size: 23px;
    transform: translateX(-50%);
    color: #003466;
    letter-spacing: 0.15em;
}

#step2 #subtitle {
    position: relative;
    top: 20px;
    left: 45%;
    transform: translateX(-50%);
    font-size: 13px;
    width: 50%;
    color: #8eaabf;
    line-height: 1.5;
    text-align: center; 
}


#step2 #region {
    position: relative;
    top: 19px;
    left: 40px;
    width: 280px;
    color: #adadad;
}


#step2 #district {
    position: relative;
    top: 29px;
    left: 40px;
    width: 280px;
    color: #adadad;
}

#step2 #service-notice {
    position: relative;
    font-weight: bold; 
    font-size: 25px;
    top:40px;
    left: 100px;
    color: #FFC553;
}
#step2 #ss {
    position: relative;
    top: 40px;
    left: 80px;
    color: #8eaabf;
}

#button-group {
    position: relative;
    top: 40px;
    left: 80px;
    padding: 10px; 
    display: block; 
}

.location-yes, .location-no {
    display: block; 
}

.location-yes {
    margin-left: 20px; 
    color: #003466; 
}

.location-no {
    margin-left: 50px; 
    color: #003466; 
}

.form-check-input {
    margin-top: 0.3em; 
    margin-right: 30px; 
    accent-color: #003466; 
}

.form-check-label {
    vertical-align: middle; 
    color: #003466; 
font-size: 12px;
}

#step15 .form-heading {
    color: #003466; 
    font-weight: bold;
    font-size: 22px; 
    margin-bottom: 5px; 
    line-height: 1.5;
    text-align: center; 
    padding-top: 30px;
    letter-spacing: 0.15em;
}

#step15 .form-subheading {
    color: #003466; 
    font-size: 14px; 
    margin-bottom: 15px; 
    text-align: center; 
    padding-top: 10px;
    letter-spacing: 0.15em;
}


#step15 .form-control {
    margin-bottom: 10px; 
    width: 70%;
    display: block;
    margin-left: auto; 
    margin-right: auto; 
}

#step15 select.form-control {
    cursor: pointer; 
}

#step15 .form-control option[disabled] {
    color: #ADADAD; 
}


#step15 .form-control option:not(:disabled) {
    color: #000; 
}
#step15 .btn-primary {
    background-color: #003466; 
    color: white; 
    width: 240px; 
    height: 40px; 
    border: none;
    display: block; 
    margin: 20px auto; 

}
#step2 #submit-button {
    position: relative;
    top: 43px;
    left: 38px;
    width: 300px;
    background-color: #003466;
    border-color: #003466;
    color: white;
    font-weight: bold;
}

#step3 {
    color: blue; 
    font-family: 'Arial', sans-serif; 
    
}

#step3 p:first-of-type {
    
    position: relative;
    font-weight: bold; 
    top: 15px;
    left: 78%;
    font-size: 30px;
    transform: translateX(-50%);
    color: #003466;
    letter-spacing: 0.15em;
}

#step3 p:last-of-type {
    position: relative;
    color: #FFC553; 
    position: relative;
    font-weight: bold; 
    font-size: 20px;
    top:40px;  
    line-height: 1.5;
    text-align: center; 
}
#step3 img {
    width: 300px; 
    height: 180px; 
    cursor: pointer; 
}



#step3 {
    font-family: 'GenYoGothic', sans-serif;
    position: relative; 
    padding: 20px; 
}

#step3 button {
    padding: 0; 
    border: none;
    background: none; 
    cursor: pointer;
}

#step3 button img {
    padding-top: 20%;
    width: 100%; 
    height: auto;
}

.chat{
    font-family: 'GenYoGothic', sans-serif;
    display:inline-block;
    margin-top: 2rem;
}
.chatbox {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 0.5rem;
    padding-top: 1rem;
    display: flex;
}
.chatlist {
    border-right: 0.1rem solid #2e2c2c;;
    height:100%;
    /* left: 30%; */
    /* position: absolute; */
}
.chatbox h2{
    font-size: 1.6rem;
    color: #003466;
    margin-bottom: 1rem;
    padding-top: 2rem;
    letter-spacing: 0.2rem;
}
#chatsign{
    height: 4.5rem;
    padding-top: 2rem;
}
.chatbox hr {
    border: 0;
    height: 0.1rem;
    background: #2e2c2c;
    width: 30%;
    position: absolute;
    /* left: 50%; */
    /* transform: translateX(-50%); */
}
.doggy{
    width: 5rem;
}
h6 {
    padding: 1rem;
    margin: 0.5rem;
    color: #0000009b;
}
.chatbox .name{
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    color: #222427b7;
}
.chatbox .nameselected{
    font-size: 1rem;
    letter-spacing: 0.1rem;
    color: #FFC533;
}
.chatbox .invitation{
    font-size: 1rem;
    letter-spacing: 0.1rem;
    color: #00000023;
}

.msg {
    font-family: 'GenYoGothic', sans-serif;
    position: fixed;
    width: 75%;
    /* border-left: 0.1rem solid #2e2c2c;;
    height:100%;
    left: 30%; */
    /* top: 20%;
    right: 8rem; 
    width: 430px; 
    height: 65%; 
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(56, 56, 56, 0.3); 
    border-radius: 15px; */
}
.msg hr {
    width: 100%;
}
.msg .img{
    width: 3rem;
    height: 3rem;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
}
.msg .name{
    font-size: 1rem;
    letter-spacing: 0.1rem;
    color: #FFC533;
    margin-top: 1.2rem;
    margin-left: 1rem;
}
.msg .friend{
    display: flex;
}
.msg .success{
    width: 15rem;
    height: 1.5rem;
    margin-top: 1rem;
    margin-left: 37.5%;
    background-color: #fdcc4fe6;
    border-radius: 0.5rem;
    color: white;
    text-align: center;
    letter-spacing: 0.1rem;
}
#waiting{display: none;}
#calculating{display: none;}

.map{
    width: 25rem;
    height: 15rem;
    margin-left: 30%;
    background-color: #fdcc4fe6;
    border-radius: 1rem;
    color: white;
    text-align: center;
    letter-spacing: 0.1rem;
    font-size: smaller;
    display: none;
}

.map label{
    font-size: 0.7rem;
    color: #ffffff;
    padding: 0.5em;
}

.map #place{
    width: 15rem;
    height: 1.8rem;
    margin-bottom: 10px;
    padding: 0.1rem;
    border: 1px solid #fff;
    border-radius: 0.3rem;
    box-sizing: border-box;
}
.map #time{
    width: 6rem;
    height: 1.8rem;
    margin-bottom: 10px;
    padding: 0.1rem;
    border: 1px solid #fff;
    border-radius: 0.3rem;
    box-sizing: border-box;
}
.map #stop{
    width: 4rem;
    height: 1.8rem;
    margin-bottom: 10px;
    padding: 0.1rem;
    border: 1px solid #fff;
    border-radius: 0.3rem;
    box-sizing: border-box;
}

.map button {
    width: 90%;
    height: 1.5rem;
    background-color: #fff;
    color: #FFC533;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(56, 56, 56, 0.3);
}

.map button:hover {
    background-color: #003466;
    color: #ffffff;
}

.input{
    position: fixed;
    width: 100%;
    height: 3rem;
}
.input #mymsg{
    height: 1.5rem;
    width: 60%;
    margin-left: 3rem;
    color: rgb(142, 142, 142);
    text-align: left;
    border-style: none;
    outline: none;
}
.input button{
    background-color: transparent;
    border-style: none;
    outline: none;
    cursor: pointer;

}
.input #send{
    width: auto;
    height: 1.8rem;
    margin-left: 1rem;
    border-style: none;
    outline: none;
}

#pair{
    width: 5rem;
    height: auto;
    float:right ;
    transform: translateX(-100%);
    /* position:fixed ; */
}
#pair:hover{
    cursor: pointer;
}

.confirm {
    width: 25rem;
    height: 16rem;
    margin-left: 30%;
    background-color: #cdcccce6;
    border-radius: 1rem;
    color: rgb(90, 90, 90);
    text-align: center;
    letter-spacing: 0.1rem;
    font-size: smaller;
    display: none;
}
.confirm button {
    width: 40%;
    height: 1.5rem;
    background-color: #fff;
    margin-top: 0.5rem;
    color: #FFC533;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(56, 56, 56, 0.3);
}
.content {
    width: 100%;
    height: 25.5rem;
    overflow: auto;
    border-top: 10rem;
}
.content p{
    padding-top: 0.5rem;
}
#map {
    width: 20rem;
    height: 8rem; /* 調整地圖的高度 */
    margin-left: 2.5rem;
    display: none;
}

.route{
    width: 25rem;
    height: 23rem;
    margin-left: 30%;
    background-color: #fdcc4fe6;
    border-radius: 1rem;
    color: white;
    text-align: center;
    letter-spacing: 0.1rem;
    font-size: smaller;
    display: none;
}

.line-arrow-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.5rem;
}
.line {
    width: 1.5rem;
    height: 1px;
    background-color: rgb(255, 255, 255);
    margin: 0;
}
.arrow {
    font-size: 15px;
    margin: 0;
}

#placeinfo {
    font-size: 10px;
    font-weight: lighter;
}
.address_container{
    display: flex;
    padding-left: 1rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
    /* flex-direction: column;
    align-items: center;
    justify-content: center; */
    /* margin-top: 1rem; */
}
.address{
    width: 5rem;
    display: inline-flex;
    word-wrap: break-word;  /* Allow words to break and wrap within the width */
    white-space: normal;
    font-size: 11px;
    font-weight: bold;
}
#placeinfo1 {
    font-size: 12px;
    font-weight: bold;
}

#chat-box {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow-y: auto;
}
.chat-message {
    max-width: 90%;
    margin: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    overflow: hidden;
}

.chat-bubble {
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #8CA9BE;
    color: white;
    border-bottom-right-radius: 0;
    position: relative;
    justify-content: flex-end;
}
.timestamp {
    font-size: 0.8em;
    color: #999;
    float: flex-end;
}
.feedback {
    background-color: #FFC533;
    width: 12rem;
    height: 4.5rem;
    border-radius: 3rem;
    z-index: 100;
    right: 1rem;
    top: 5rem;
    position: fixed;
    float: right;
}
#feedbacksheet {
    display: none;
}
.feedbacksheet {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;
    height: 500px;
    width: 400px;
    border-radius: 1rem;
    z-index: 1000;
    right: 10rem;
    top: 10.5rem;
    position: fixed;
    float: right;
}
.feedbacksheet p {
    font-size: 1.2rem;
    font-weight: bold;
    color: #003466;
    padding-top: 1rem;
    justify-content: center;
    text-align: center;
}
.feedbacksheet hr {
    height: 0.1rem;
    background: #2e2c2c;
    width: 90%;
    position: absolute;
    left: 5%;
}
.feedbackcontent {
    height: 440px;
    padding: 1rem;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    align-items: center;
}
#routeend {
    background-color: #FFC533;
    color: white;
    width: 20rem;
    height: 4rem;
    border-radius: 3rem;
    font-size:xx-small;
    text-align: center;
    padding: 0.5rem;
}
#peer {
    background-color: #FFC533;
    color: white;
    width: 15rem;
    border-radius: 3rem;
    font-size:medium;
    text-align: center;
    padding: 0.6rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    justify-content: center;
    align-items: center;
    display: flex;
}
#content2{
    display: none;
}
.custom-range {
    -webkit-appearance: none;
    width: 80%;
    height: 8px;
    border-radius: 5px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}

.custom-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #FFC533;
    cursor: pointer;
}

.fbimg {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    border: 0.3rem  solid white;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}
.fbimg1 {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 100%;
    border: 0.3rem solid #003466;
    margin-top: 0.5rem;
    /* margin-left: 0.5rem; */
}
.fbicon {
    width: 4rem;
    height: 4rem;
    margin-top: 0.3rem;
    /* margin-left: 0.5rem; */
}
.fbicon:hover {
    cursor: pointer;
}
.fbtitle {
    font-size: small;
    color: #999;
    padding-bottom: 1rem;
}
.fbsubtitle {
    font-size: small;
    color: #003466;
    padding-bottom: 1rem;
}
.bigfont {
    font-size: medium;
    color: #003466;
}
.fbgray {
    font-size: small;
    color: #5e5e5e;
}
.fborg {
    font-size: small;
    color: #FFC553;
}
.fbedit {
    height: 1rem;
    width: auto;
}
.fbedit:hover {
    height: 1rem;
    width: auto;
    cursor: pointer;
}
.fbbtn {
    background-color: white;
    border: 2px solid #FFC533;
    border-radius: 0.5rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    color: #FFC533;
}
.fbbtn:hover {
    background-color: #FFC533;
    color: white;
    cursor: pointer;
}
.fbt {
    font-size: small;
    color: #999;
}
.star-rating {
    display: flex;
    direction: row;
    font-size: 2rem;
    cursor: pointer;
}

.star {
    color:  #ffcc00;
}

.star:hover,
.star.hover,
.star.selected {
    color: #003466;
}
.star-rating1 {
    padding-left: 1rem;
    direction: row;
    font-size: 1rem;
    cursor: pointer;
}
.star1 {
    color:  white;
}

.star1:hover,
.star1.hover,
.star1.selected {
    color: white;
}
.circle-rating {
    display: flex;
    direction: row;
    cursor: pointer;
}

.circle {
    width: 15px;
    height: 15px;
    margin-top: 2px;
    margin-left: 7px;
    margin-right: 7px;
    border: 2px solid #ccc;
    border-radius: 50%;
    background-color: white;
    transition: background-color 0.3s, border-color 0.3s;
}
.circle1 {
    width: 10px;
    height: 10px;
    margin-top: 2px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: white;
}

.circle:hover,
.circle.hover,
.circle.selected {
    background-color: #ffcc00;
    border-color: #ffcc00;
}
textarea {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    height: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: visible;
}